/* Barra de tareas */
#taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #000080;
    color: white;
    display: flex;
    align-items: center;
}
#start-button {
    background-color: #008000;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
#start-menu {
    position: absolute;
    bottom: 40px;
    left: 10px;
    background-color: #f0f0f0;
    color: black;
    border: 1px solid #000;
    display: none;
    width: 150px;
}
#start-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}
#start-menu li {
    margin: 5px 0;
    cursor: pointer;
}
#start-menu li:hover {
    background-color: #d0d0d0;
}